@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik/GraphikThin.otf');
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik/GraphikThinItalic.otf');
    font-weight: 100;
    font-style: italic;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik/GraphikExtralight.otf');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik/GraphikExtralightItalic.otf');
    font-weight: 200;
    font-style: italic;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik/GraphikLight.otf');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik/GraphikLightItalic.otf');
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik/GraphikRegular.otf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik/GraphikRegularItalic.otf');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik/GraphikMedium.otf');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik/GraphikMediumItalic.otf');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik/GraphikSemibold.otf');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik/GraphikSemiboldItalic.otf');
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik/GraphikBold.otf');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik/GraphikBoldItalic.otf');
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik/GraphikBlack.otf');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik/GraphikBlackItalic.otf');
    font-weight: 800;
    font-style: italic;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik/GraphikSuper.otf');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik/GraphikSuperItalic.otf');
    font-weight: 900;
    font-style: italic;
  }
}

body {
  background-color: #f3f3f3;

  padding: 0;
  margin: 0;
  @apply font-graphik;
}

a {
  color: inherit;
  text-decoration: none;
  @apply font-graphik;
}

* {
  box-sizing: border-box;
}

button:disabled {
  @apply opacity-40 cursor-not-allowed;
}

.btn {
  @apply rounded-lg py-2.5 px-3 text-xs cursor-pointer bg-black transition-colors;
}

.btn-connect {
  @apply rounded-md py-1.5 font-medium text-gray-300 bg-gray-100 border-2 border-gray-300 cursor-not-allowed;
}

.shadow-custom {
  box-shadow: 0 15px 50px 15px rgba(0, 0, 0, 0.25);
}

.shadow-dropdown-y:hover {
  box-shadow: inset 0px 11px 8px -12px #ccc, inset 0px -11px 8px -12px #ccc;
}

.shadow-dropdown-t:hover {
  box-shadow: inset 0px 11px 8px -11px #ccc;
}

.shadow-dropdown-b:hover {
  box-shadow: inset 0px -11px 8px -11px #ccc;
}

.btn-default {
  @apply bg-[#ededed] hover:bg-[#d9dbdb] text-black cursor-pointer rounded-xl;
}

.btn-primary {
  @apply bg-casama-blue hover:bg-casama-light-blue text-white cursor-pointer rounded-xl;
}

.btn-success {
  @apply bg-[#03a32e] hover:bg-[#038a27] text-white cursor-pointer rounded-xl;
}

.btn-danger {
  @apply bg-[#e60246] hover:bg-[#c9023e] text-white cursor-pointer rounded-xl;
}

.btn-info {
  @apply bg-casama-blue hover:bg-casama-light-blue text-white cursor-pointer rounded-xl;
}

.btn-warning {
  @apply bg-[#f7b91b] hover:bg-[#dba418] text-black text-opacity-70 cursor-pointer rounded-xl;
}

.btn-casama {
  @apply bg-casama-blue hover:bg-casama-light-blue text-white cursor-pointer rounded-xl;
}

.btn-casama-light {
  @apply bg-casama-light-blue hover:bg-casama-light-blue text-white cursor-pointer rounded-xl;
}

.btn-casama-extra-light {
  @apply bg-casama-extra-light-blue hover:bg-casama-light-blue text-white cursor-pointer rounded-xl;
}

.btn-casama-white {
  @apply bg-white hover:bg-[#ededed] text-casama-blue cursor-pointer rounded-xl border-2 border-casama-blue;
}

.btn-neutral {
  @apply bg-white hover:bg-[#ededed] text-gray-500 cursor-pointer rounded-xl border-2 border-gray-200;
}

.btn-processing {
  @apply rounded-xl px-5 font-semibold text-gray-400 bg-gray-300 border-gray-300  cursor-not-allowed;
}

.btn-vote {
  @apply hover:bg-casama-blue hover:text-white bg-gray-200 text-black text-opacity-70 cursor-pointer rounded-full p-1 px-4 mx-2 border border-casama-blue;
}

.btn-vote-filled {
  @apply hover:text-white bg-casama-blue text-white cursor-not-allowed rounded-full p-1 px-4 mx-2 border border-casama-blue;
}

.btn-circle-light {
  @apply rounded-full border border-violet-300 text-casama-blue p-3 flex items-center justify-center hover:bg-gray-100;
}

.container-casama {
  @apply border-solid text-white rounded-xl bg-casama-blue p-5 shadow-xl;
}

.container-casama-p-0 {
  @apply border-solid text-white rounded-xl bg-casama-blue shadow-xl;
}

.container-casama-light-p-0 {
  @apply border-solid rounded-xl bg-casama-extra-light-blue;
}

.container-white {
  @apply border-solid text-black rounded-xl bg-white p-5 shadow-sm;
}

.container-transparent {
  @apply border-solid text-black rounded-xl p-5 shadow-sm;
}

.container-transparent-clean {
  @apply border-solid  rounded-xl  shadow-sm;
}

.container-gray {
  @apply border-solid text-black rounded-xl bg-gray-200 p-5 shadow-sm;
}
.container-gray-p-0 {
  @apply border-solid text-black rounded-xl bg-gray-200 shadow-sm;
}

.container-red {
  @apply border-solid text-black rounded-xl bg-red-100 p-5 shadow-sm;
}

.container-white-p-0 {
  @apply border-solid text-black rounded-xl bg-white shadow-sm;
}

.container-round-transparent {
  @apply border-solid text-black rounded-full  shadow-sm;
}

.container-image-round {
  @apply border-solid rounded-full text-white border-black border-2;
}

.subheader {
  @apply text-black text-xl;
}

.subheader-sm {
  @apply sm:text-black sm:text-2xl;
}

.textfield {
  @apply border w-full px-3 text-gray-700 leading-tight rounded-lg bg-[#F6F6F6] focus:bg-white focus:outline-none focus:border-casama-extra-light-blue;
}

.container-checkbox {
  @apply w-full px-3 text-gray-700 leading-tight rounded-lg bg-[#F6F6F6] focus:border-casama-blue;
}

.label {
  @apply text-black;
}

.initials-avatar {
  @apply flex border-solid text-black rounded-full uppercase w-10 h-10 items-center justify-center border-2 border-white pt-0.5;
}

.initials-avatar.special {
  @apply bg-gold-shiny;
}

.avatar {
  @apply flex text-black rounded-full uppercase w-10 h-10 items-center justify-center bg-white overflow-hidden;
}

.avatar.special {
  @apply bg-gold-shiny;
}

.loading-circle {
  @apply w-24 h-24 text-gray-200 animate-spin dark:text-gray-400 fill-casama-blue;
}

.loading-circle-button {
  @apply w-5 h-5 text-gray-200 animate-spin dark:text-gray-400 fill-white;
}

@keyframes shine-effect {
  0% {
    background-position: -200% 200%;
  }
  40% {
    background-position: 100% 100%;
  }
  60% {
    background-position: 100% 100%;
  }
  100% {
    background-position: -200% 200%;
  }
}

.bg-casama-shiny {
  background-image: url(https://i.ibb.co/nrmkm7d/five-bells-washed-out-logo.png),
    linear-gradient(to right, rgba(58, 61, 62, 1) 0%, rgba(58, 61, 62, 1) 100%);
  background-image: linear-gradient(
    to right,
    #5f45fd 0,
    #7560ff 22%,
    #6e7df0 45%,
    #e4dfff 50%,
    #6e7df0 55%,
    #7560ff 78%,
    #5f45fd 100%
  );
  background-repeat: repeat-x;
  color: white;
  background-position: 0% 2000%;
  background-size: 800% 100%;
  /*
  this changes glow  */
  animation: shine-effect 10s infinite;
}

/* GOLD CARD */

.bg-gold-shiny {
  background-image: url(https://i.ibb.co/nrmkm7d/five-bells-washed-out-logo.png),
    linear-gradient(to right, rgba(58, 61, 62, 1) 0%, rgba(58, 61, 62, 1) 100%);
  background-image: linear-gradient(
    to right,
    #cb9b51 0,
    #e9a848 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #e9a848 78%,
    #cb9b51 100%
  );
  background-repeat: repeat-x;

  background-position: 0% 2000%;
  background-size: 800% 100%;
  /*
  this changes glow  */
  animation: shine-effect 10s infinite;
}

.bg-soccer {
  background-image: url(/soccer2.png);
  height: 100%;
  width: 100%;
  background-size: 100% 99.5%;
  opacity: 30%;
  z-index: 1;
}

.bg-soccer2 {
  /* background-image: url(/soccer2.png); */
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 50%;
  right: 0;
  opacity: 60%;
  width: auto;
  height: auto;
  translate: -50% -50%;
  min-height: 100%;
  min-width: 100%;
  z-index: 1;
}

.bg-content {
  opacity: 100%;
  z-index: 10;
  position: relative;
}
.bg-wrap {
  overflow: hidden;
  position: relative;
}

.text-gold {
  letter-spacing: 1px;
}

.infinite-scroll-component__outerdiv {
  @apply w-full;
}