@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f0ffff;

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  @apply rounded-lg py-2.5 px-3 text-xs font-bold cursor-pointer bg-black uppercase;
}

.btn-connect {
  @apply rounded-md py-1.5 font-bold text-gray-300 bg-gray-100 border-2 border-gray-300 cursor-not-allowed;
}

.shadow-custom {
  box-shadow: 0 15px 50px 15px rgba(0, 0, 0, 0.25);
}

.btn-default {
  @apply cursor-pointer rounded-md py-1.5 font-bold text-sm px-3 text-black bg-gray-100 hover:bg-gray-200 border-2 border-gray-400 uppercase shadow;
}

.btn-red {
  @apply bg-[#ffbacd] hover:bg-[#ff6163];
}

.btn-green {
  @apply bg-[#d1ffbd] hover:bg-[#0add08];
}
