@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f0ffff;

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  @apply rounded-lg py-2.5 px-3 text-xs font-bold cursor-pointer bg-black uppercase transition-colors;
}

.btn-connect {
  @apply rounded-md py-1.5 font-bold text-gray-300 bg-gray-100 border-2 border-gray-300 cursor-not-allowed;
}

.shadow-custom {
  box-shadow: 0 15px 50px 15px rgba(0, 0, 0, 0.25);
}

.btn-default {
  @apply bg-[#ededed] hover:bg-[#d9dbdb] text-black;
}

.btn-primary {
  @apply bg-[#1d82f5] hover:bg-[#1668c7] text-white;
}

.btn-success {
  @apply bg-[#03a32e] hover:bg-[#038a27] text-white;
}

.btn-danger {
  @apply bg-[#e60246] hover:bg-[#c9023e] text-white;
}

.btn-info {
  @apply bg-[#1aaeed] hover:bg-[#1692c7] text-white;
}

.btn-warning {
  @apply bg-[#f7b91b] hover:bg-[#dba418];
}
